<style>
@import url(https://fonts.googleapis.com/css?family=Cuprum|Lato);
body {
font-family: 'Cuprum' !important;
font-size: 12pt !important;
line-height: 1 !important;
font-weight: 400 !important;
color: #58585A !important;
text-align: justify !important;
text-justify: inter-word !important;
}
/*
#notebook-container {
-webkit-box-shadow: none;
box-shadow: none;
}
.rendered_html h1 { font-size: 4rem !important;  }
.rendered_html h2 { font-size: 3rem !important; }
.rendered_html h3 { font-size: 2.5rem !important; }
.rendered_html h4 { font-size: 2rem !important; }
.rendered_html h5 { font-size: 1.5rem !important; }
.rendered_html h6 { font-size: 1.5rem !important; }
.rendered_html h1, 
.rendered_html h2, 
.rendered_html h3, 
.rendered_html h4,
.rendered_html h5, 
.rendered_html h6 {
font-family: 'Lato' !important;
font-weight: 300 !important;
line-height: 1.5em !important;
color: rgb(221, 153, 51) !important;
}
h1 { font-size: 4.5rem !important; }
h2 { font-size: 4rem !important; }
h3 { font-size: 3.5rem !important; }
h4 { font-size: 3rem !important; }
h5 { font-size: 2.5rem !important; }
h6 { font-size: 2rem !important; }
h1, h2, h3, h4, h5, h6 {
font-family: 'Cuprum' !important;
color: #e6ae48 !important;
line-height: 150px !important;
}
p {
font-family: 'Cuprum' !important;
font-size: 12pt !important;
line-height: 1 !important;
font-weight: 400 !important;
color: #58585A !important;
text-align: justify !important;
text-justify: inter-word !important;
}
li {
font-family: 'Cuprum' !important;
font-size: 12pt !important;
line-height: 1 !important;
font-weight: 400 !important;
color: #58585A !important;
text-align: justify !important;
text-justify: inter-word !important;
}
code {
font-family: 'Cuprum' !important;
font-size: 12pt !important;
}
pre {
font-family: 'Cuprum' !important;
font-size: 12pt !important;
}
div.input_area {
border: none !important;
background: whitesmoke !important;
}
*/

.color1{
color: #302683 !important;
}
.color1_cell{
color: white !important;
background-color: #302683 !important;
}
.color1_cell_transparency{
color: black !important;
background-color: rgba(48,38,131,0.20) !important;
}

.color2{
color: #009EE3 !important;
}
.color2_cell{
color: white !important;
background-color: #009EE3 !important;
}
.color2_cell_transparency{
color: black !important;
background-color: rgba(0,158,227,0.20) !important;
}

.color3{
color: #00893E !important;
}
.color3_cell{
color: white !important;
background-color: #00893E !important;
}
.color3_cell_transparency{
color: black !important;
background-color: rgba(0,137,62,0.20) !important;
}

.color4{
color: #94C11E !important;
}
.color4_cell{
color: white !important;
background-color: #94C11E !important;
}
.color4_cell_transparency{
color: black !important;
background-color: rgba(148,193,30,0.20) !important;
}

.color5{
color: #FDC400 !important;
}
.color5_cell{
color: white !important;
background-color: #FDC400 !important;
}
.color5_cell_transparency{
color: black !important;
background-color: rgba(253,196,0,0.20) !important;
}

.color6{
color: #E84D0E !important;
}
.color6_cell{
color: white !important;
background-color: #E84D0E !important;
}
.color6_cell_transparency{
color: black !important;
background-color: rgba(232,77,14,0.20) !important;
}

.color7{
color: #CF0272 !important;
}
.color7_cell{
color: white !important;
background-color: #CF0272 !important;
}
.color7_cell_transparency{
color: black !important;
background-color: rgba(207,2,114,0.20) !important;
}

.color8{
color: #F199C1 !important;
}
.color8_cell{
color: white !important;
background-color: #F199C1 !important;
}
.color8_cell_transparency{
color: black !important;
background-color: rgba(241,153,193,0.20) !important;
}

.color9{
color: #F1F1F1 !important;
}

.color10{
color: #D2D3D5 !important;
}

.color11{
color: #58585A !important;
}

.open_cell_light{
color: #58585A !important;
background-color: #F1F1F1 !important;
}

.open_cell_dark{
color: #58585A !important;
background-color: #D2D3D5 !important;
}

.open_cell_border_1{
border-right: 2pt solid #302683 !important;
}

.open_cell_border_2{
border-right: 2pt solid #009EE3 !important;
}


.open_cell_border_3{
border-right: 2pt solid #00893E !important;
}


.open_cell_border_4{
border-right: 2pt solid #94C11E !important;
}


.open_cell_border_5{
border-right: 2pt solid #FDC400 !important;
}


.open_cell_border_6{
border-right: 2pt solid #E84D0E !important;
}


.open_cell_border_7{
border-right: 2pt solid #CF0272 !important;
}


.open_cell_border_8{
border-right: 2pt solid #F199C1 !important;
}

.open_subtitle_cell{
background-color: white !important;
border-radius: 30px 30px 30px 30px !important;
padding: 2px !important;
}

.center_cell{
text-align: center !important;
}

.border_cell_left{
border-left: 1pt solid black !important;
}

.border_cell_bottom_black{
border-bottom: 1pt solid black !important;
}

.border_cell_bottom_white{
border-bottom: 1pt solid white !important;
}

.round_cell_left{
border-radius: 30px 0px 0px 30px !important;
}

.round_cell_right{
border-radius: 0px 30px 30px 0px !important;
}

.round_cell_both{
border-radius: 30px 30px 30px 30px !important;
}

.opacity{
color:black !important;
opacity: 0.20 !important;
}

tr:nth-child(even) {
background-color: white !important;
/*border: 0px !important;*/
} 

tr:nth-child(odd) {
background-color: white !important;
} 

.rendered_html tr, .rendered_html th, .rendered_html td, .rendered_html table {
border: 0px;
}

.icon{
height: 30px !important;
}

.title{
background-color: #F1F1F1 !important;
}

h2{
text-indent: 30px !important;
}

#notebook{
background-color: rgba(162,162,162,0.7) !important;
}

#notebook-container{
background-color: white !important;
}

.prompt{
min-width: 0ex !important;
}

/* Header Configuration Segment */

.header_text{
font-size: 30px !important;
text-align: left !important;
}

.header_image_1{
border-right: 2pt solid #302683 !important;
}

.header_image_2{
border-right: 2pt solid #009EE3 !important;
}

.header_image_3{
border-right: 2pt solid #00893E !important;
}

.header_image_4{
border-right: 2pt solid #94C11E !important;
}

.header_image_5{
border-right: 2pt solid #FDC400 !important;
}

.header_image_6{
border-right: 2pt solid #E84D0E !important;
}

.header_image_7{
border-right: 2pt solid #CF0272 !important;
}

.header_image_8{
border-right: 2pt solid #F199C1 !important;
}

hr{
border-top: 2px solid #58585A !important;
margin-top: 8px !important;
margin-bottom: 8px !important;
}

.checked {
color: #FDC400 !important;
}

<style>

